body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-basis: 350px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.form > input {
  padding: 6px;
}

.form > button {
  border: none;
  padding: 8px;
  cursor: pointer;
}

